body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
    background-color: rgb(210, 243, 89);
}

header {
    background: #070707;
    color: #f5ecf8f6;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px 0;
    background: #f4f4f4;
    border-radius: 5px;
}

.project {
    background: #f4f4f4;
    padding: 10px;
    margin: 10px 0;
}

footer {
    text-align: center;
    background: hwb(0 8% 92%);
    color: #fff;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
